/* The switchSize - the box around the slider */
.switchSize {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 44px;
}
  
  /* Hide default HTML checkbox */
.switchSize input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.sliderWhite {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DEDEDE;
    -webkit-transition: .4s;
    transition: .4s;
}
.sliderBlack {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #595959;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.sliderWhite:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: #292929;
    -webkit-transition: .4s;
    transition: .4s;
}
.sliderBlack:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: #DEDEDE;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .sliderWhite {
    background-color: #DEDEDE;
}
input:checked + .sliderBlack {
    background-color: #595959;
}
  
input:focus + .sliderWhite {
    box-shadow: 0 0 1px #DEDEDE;
}
input:focus + .sliderBlack {
    box-shadow: 0 0 1px #595959;
}
  
input:checked + .sliderWhite:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
input:checked + .sliderBlack:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliders */
.sliderWhite.round {
    border-radius: 34px;
}
.sliderBlack.round {
    border-radius: 34px;
}
  
.sliderWhite.round:before {
    border-radius: 50%;
}
.sliderBlack.round:before {
    border-radius: 50%;
}

/* ------------------------------ */

.switchTheme {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 44px;
}
  
  /* Hide default HTML checkbox */
.switchTheme input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.sliderThemeWhite {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DEDEDE;
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderThemeBlack {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #DEDEDE;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.sliderThemeWhite:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: #292929;
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderThemeBlack:before {
    position: absolute;
    content: "";
    height: 36px;
    width: 36px;
    left: 4px;
    bottom: 4px;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
}

  
input:checked + .sliderThemeWhite {
    background-color: #595959;
}
input:checked + .sliderThemeBlack {
    background-color: #595959;
}
  
input:focus + .sliderThemeWhite {
    box-shadow: 0 0 1px #595959;
}
input:focus + .sliderThemeBlack {
    box-shadow: 0 0 1px #595959;
}
  
input:checked + .sliderThemeWhite:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
input:checked + .sliderThemeBlack:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
  /* Rounded sliderThemes */
.sliderThemeWhite.round {
    border-radius: 34px;
}
.sliderThemeBlack.round {
    border-radius: 34px;
}
  
.sliderThemeWhite.round:before {
    border-radius: 50%;
}
.sliderThemeBlack.round:before {
    border-radius: 50%;
}